@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
  background: white;
}

hr {
  background: white;
  width: 80%;
  border-top: 1px solid #AC9A7C;
  margin: 0 auto;
}

.background-col {
  background: #AC9A7C;
  transition: 0.3s ease;
}

.highlight {
  border-bottom: 3px solid #131313;
}

/*####################################################################################################################################################*/
/* Nav Bar */
.navbar {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  transition: all 0.3s ease;
}


#navbar__logo {
  color: #131313;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  transition: all 0.3s ease;
}

.navbar__item {
  height: 80px;
  transition: all 0.3s ease;

}

.navbar__links {
  color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}


@media screen and (max-width: 992px) {
  .navbar {
    background: #AC9A7C;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    background: #AC9A7C;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: -1;
    background: #AC9A7C;
  }

  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;
    height: 300px;
    font-size: 1.5rem;
    background: #AC9A7C;
  }

  

  #navbar__logo {
    padding-left: 25px;
    font-size: 1.7rem;
    background: #AC9A7C;
  }

  .navbar__toggle .bar {
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #131313;
  }

  .navbar__item {
    width: 100%;
    transition: all 0.3s ease;
    background: #AC9A7C;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    transition: all 0.3s ease;
    background: #AC9A7C;
  }

  #mobile-menu {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translate(5%, 20%);
    transition: all 0.3s ease;
    background: #AC9A7C;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #mobile-menu.is-active {
    transition: all 0.3s ease;
    background: #AC9A7C;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


@media screen and (max-width: 768px) {
  .navbar {
    background: #AC9A7C;
  }

  .navbar__container {
    background: #AC9A7C;
  }

  .navbar__toggle {
    background: #AC9A7C;
  }

  .navbar__toggle .bar {
    width: 20px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #131313;
    padding-right: 25px;
  }

  #navbar__logo {
    padding-left: 25px;
    font-size: 1.4rem;
    background: #AC9A7C;
  }

  .navbar__menu.active {
    height: 200px;
  }

  .navbar__links {
    font-size: 1.2rem;
  }

  #mobile-menu {
    position: absolute;
    top: 29%;
    right: 5%;
    transform: translate(5%, 20%);
  }
}


@media screen and (max-width: 576px) {
  .navbar {
    background: #AC9A7C;
  }

  .navbar__container {
    background: #AC9A7C;
  }

  .navbar__toggle {
    background: #AC9A7C;
  }

  .navbar__toggle .bar {
    width: 20px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #131313;
    padding-right: 25px;
  }

  #navbar__logo {
    padding-left: 25px;
    font-size: 1.4rem;
    background: #AC9A7C;
  }

  .navbar__menu.active {
    height: 200px;
  }

  .navbar__links {
    font-size: 1.2rem;
  }

  #mobile-menu {
    position: absolute;
    top: 29%;
    right: 5%;
    transform: translate(5%, 20%);
  }
}





/*####################################################################################################################################################*/
/*SVG*/
.svg-test {
  margin-bottom: 25px;
}

/* Work Section */
.work {
  background: white;
  padding:0 0 50px 0;
}

.work__heading {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 27px;
  margin: 0 auto;
  color: #131313;
  max-width: 900px;
}

.work__headers {
  padding-left: 30px;
}


.work__heading h1 {
  margin-bottom: 15px;
  margin-top: 90px;
}

.work__heading span {
  color: #AC9A7C;
}

.work__heading p {
  font-size: 19px;
  line-height: 30px;
  text-align: left;
  text-justify: inter-word;
  padding-left: 5px;
}


.work__filter {
  background: #AC9A7C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  padding: 20px 0;
}

.work__filter ul {
  margin: 0;
  list-style-type: none;
  background:  #AC9A7C;
}

#filter-list {
  display: inline-block;
  padding: 0;
  background:  #AC9A7C;
}

#filter-list li {
  display: inline-block;
  letter-spacing: 2px;
  font-size: 12px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
  color: #131313;
  text-transform: uppercase;
  background:  #AC9A7C;
}

#filter-list li:hover {
  color: #fff;
  transition: all 0.3s ease;
}


.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.projects .itemBox {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.projects .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay__container {
  background: none;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
  text-align: center;
}

.image__title {
  font-size: 1.5rem;
  background: none;
  color: white;
  font-weight:900;
}

.image__description {
  font-size: 1rem;
  background: none;
  color: white;
  margin-top: 1rem;
  font-weight: 900;
}


.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}



@media screen and (max-width: 992px) {
  .svg-test {
    height: auto;
  }

  .work {
    padding: 0 0 0 0;
  }

  .projects {
    padding: 70px 50px 110px 50px;
  }


  .work__heading {
    font-size: 1.5rem;
  }

  .work__heading h1 {
    margin-bottom: 20px;
  }

  #filter-list li {
    font-size: 12px;
  }


  .projects {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  #filter-list li:hover {
    color: #131313;
  }

  .image__overlay {
    background: rgb(0, 0, 0, 0.5);
    opacity: 1;
  }

  .image__overlay > * {
    transform: translateY(0);
    text-align: center;
  }
  
  .image__overlay:hover {
    opacity: 1;
  }
}

/* 768 TABLETS*/
@media screen and (max-width: 768px) {

  .work__heading {
    font-size: 22px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .work__headers {
    padding: 0 30px 0 0;
  }


  .work__filter {
    background: #AC9A7C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    padding: 20px 0;
  }

  #filter-list li {
    font-size: 12px;
    margin: 10px 40px;
  }

  .projects {
    padding: 45px 0px 75px 0px;
  }

  .image__overlay {
    background: rgb(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .image__title {
    font-size: 1.3rem;
  }
  
  .image__description {
    font-size: 1rem;
  }

  .image__overlay > * {
    transform: translateY(0);
    text-align: center;
  }
  
  
  .image__overlay:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 694px) {
  .work__heading h1 {
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 576px) {
  .work__heading {
    font-size: 18px;
  }

  .work__heading h1 {
    margin-bottom: 15px;
  }

  .work__headers {
    padding: 0;
  }

  .work__heading p {
    margin-bottom: 10px;
    font-size: 17px;
  }

  .work__filter {
    max-width: 300px;
  }

  .work__filter ul {
    max-width: 300px;
  }


  #filter-list li {
    font-size: 12px;
    padding: 10px 20px;
  }

  .projects {
    padding: 45px 0px 55px 0px;
  }

  .image__overlay {
    background: rgb(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .image__title {
    font-size: 1.3rem;
  }
  
  .image__description {
    font-size: 1rem;
  }

  .image__overlay > * {
    transform: translateY(0);
    text-align: center;
  }
  
  
  .image__overlay:hover {
    opacity: 1;
  }
}







/*####################################################################################################################################################*/
/* SVG */
.svg__environment {
  padding: 0 0 100px 50px;
}
/* About Section */
.main {
  background-color: white;
  padding: 90px 0 100px 0;
} 

.main__heading {
  text-align: center;
  font-size: 18.5px;
  margin-bottom: 50px;
  color: #AC9A7C;
}


.main__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 1;
  max-width: 1200px;
  padding: 0px 50px 50px 50px;
}


.main__content {
  color: #fff;
  padding-left: 20px;
}

.main__content h1 {
  color: #131313;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.main__content p {
  color: #131313;
  font-size: 14px;
  text-align: left;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-align: justify;
  text-justify: inter-word;
}

.main__content p span {
  color: #AC9A7C;
}


.main__btn {
  font-size: 1rem;
  letter-spacing: 1.1px;
  background: white;
  color: #AC9A7C;
  padding: 13px 20px;
  border: 1.2px solid #AC9A7C;
  border-radius: 5px;
  margin: 3rem 1rem 0 0;
  cursor:pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #AC9A7C;
  text-decoration: none;
  background: white;
}



/*
.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #833ab4;
  transition: all 0.4s;
  border-radius: 4ps;
}
*/


.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  display: flex;
  text-align: center;
}


.main__img--card {
  margin: 10px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.social__heading {
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
  color: #131313;
}

.social__heading h1 {
  padding: 20px 0 60px 0;
}


.social__container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.social__container a {
  color: #131313;
  font-size: 45px;
}

.social__container a:hover {
  color: #AC9A7C;
  transform: scale(1.2);
  transition: all 0.45s ease;
}


/* Mobile Responsive */
@media screen and (max-width: 1199px) {

  .svg__environment {
    padding: 0;
    height: auto;
  }

  .main__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }



  .main__content {
    text-align: center;
    padding: 0 150px;
    margin-top: 0;
  }
  
  .main__content h1 {
  margin-top: 2.5rem;
  }

  .main__content h1 {
    text-align: left;
  }

  .main__content p {
    font-size: 19px;
    line-height: 40px;
  }

  .social__heading {
    font-size: 12px;
  }

  .social__heading h1 {
    padding: 50px 0 50px 0;
  }

  .social__container a {
    font-size: 40px;
  }

  .main__btn {
    margin: 5rem 0.5rem 3rem 0.5rem;
  }

}


@media screen and (max-width: 992px) {
  .main {
    padding: 75px 50px;
  }

  .main__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .main__heading {
    font-size: 18px;
  }

  .main__heading h1 {
    margin-bottom: 0px;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 575px;
    width: 575px;
  }

  .main__content {
    text-align: center;
    padding: 0 45px;
    margin-top: 0;
  }

  .main__content h1 {
    font-size: 28px;
    margin-top: 2rem;
  }


  .main__content p {
    font-size: 19px;
    /*max-height: 80rem;*/
    line-height: 40px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 60px;
  }

  .main__btn {
    padding: 16px 26px;
    margin: 10px 15px 30px 0;
    font-size: 20px;
  }


  .social__heading h1 {
    padding: 50px 0 50px 0;
    margin-bottom: 10px;
  }

}


@media screen and (max-width:768px) {
  .svg__environment {
    margin: 0 0 0 0;
    padding: 0 25px;
  }

  .main {
    padding: 75px 0 0 0;
  }


  .main__heading h1 {
    font-size: 33px;
    margin-bottom: 0;
  }


  .main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main__content {
    padding: 0 66px;
    margin: 0 auto;
  }

  .main__content h1 {
    font-size: 20px;
    margin: 0 0 20px 0;
    text-align: left;
  }

  .main__content p {
    margin-top: 0px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: bolder;
  }


  .main__btn {
    padding: 12px 20px;
    margin: 20px 5px 0 5px;
    font-size: 15px;
  }

  .social__heading h1 {
    padding: 0 0 35px 0;
    margin-bottom: 0px;
    font-size: 18px;
  }

  .social__container {
    padding: 0 75px;
  }

  .social__container a {
    font-size: 30px;
  }
}

#email {
  position: relative;
}

#email:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  bottom: -2.5em;
  right: -5em;
  color: #131313;
}


@media screen and (max-width:576px) {
  .svg__environment {
    height: auto;
    margin-top: 10px;
  }

  .main {
    padding: 55px 0 0 0;
  }

  .main__heading {
    font-size: 11.3px;
  }

  .main__heading h1 {
    margin-bottom: 0;
    font-size: 27px;
  }



  .main__content {
    padding: 0 35px;
  }

  .main__content h1 {
    font-size: 20px;
    margin: 0 0 20px 0;
    text-align: left;
  }

  .main__content p {
    margin-top: 0px;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: bolder;
  }


  .main__btn {
    padding: 12px 24px;
    margin: 20px 0 0 0;
    font-size: 15px;
  }

  .social__heading h1 {
    padding: 20px 0 40px 0;
    margin-bottom: 0px;
    font-size: 18px;
  }

  .social__container {
    padding: 0 55px;
  }

  .social__container a {
    font-size: 30px;
  }
}

#email {
  position: relative;
}

#email:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  bottom: -2.5em;
  right: -5em;
  color: #131313;
}






/*####################################################################################################################################################*/
/* Footer CSS */
.footer__container {
  background-color: #AC9A7C;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__container p {
  color: #131313;
  background: #AC9A7C;
  letter-spacing: 1.3px;
}

.footer__container p strong {
  color: #131313;
  background: #AC9A7C;
}

@media screen and (max-width:768px) {
  .footer__container{
    font-size: 12px;
    padding: 40px 0;
  } 
}

/*#####################################################################################################################################################################*/


/*#######################################################################################################################################*/
/* SVG COMPUTER */


/* wheel ########################################################*/
#wheel-1, #wheel-2, #wheel-3, #wheel-4, #wheel-5, #wheel-6, #wheel-7{
  animation: wheel 4s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/* sheets ########################################################*/
#sheet-1 {
  transform-origin: 320px;
  animation: sheet-1 4s infinite linear;
}

@keyframes sheet-1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(160deg);
  }
}


#sheet-2 {
  transform-origin: 350px;
  animation: sheet-2 3s infinite linear;
}

@keyframes sheet-2 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(140deg);
  }
}


#sheet-3 {
  transform-origin: 350px;
  animation: sheet-3 5s infinite linear;
}

@keyframes sheet-3 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(120deg);
  }
}

/* database #############################################################*/
#db-1 {
  animation: database 1.5s ease-in-out alternate infinite;
}

#db-2 {
  animation: database 1.5s ease-in-out alternate infinite;
  animation-delay: 0.12s;
}

#db-3 {
  animation: database 1.5s ease-in-out alternate infinite;
  animation-delay: 0.24s;
}

#db-4 {
  animation: database 1.5s ease-in-out alternate infinite;
  animation-delay: 0.36s;
}

@keyframes database {
  75% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.03);
  }
}

/* pie chart #################################################################*/
/*
#pie-chart{
  animation: pie 3s linear infinite;
  animation-delay: 1.5s;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes pie {
  0% {
    transform: rotateZ(0deg);
  }
  66% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
*/


#pie-big {
  animation: pie-big 1.5s ease-in-out alternate infinite;
  animation-delay: 1.2s;
}

@keyframes pie-big {
  75% {
    transform: scaleX(1.0);
  }
  100% {
    transform: scaleX(0.98);
  }
}

#pie-small {
  animation: pie-small 1.5s ease-in-out alternate infinite;
  animation-delay: 1.2s;
}

@keyframes pie-small {
  75% {
    transform: scaleY(1.0);
  }
  100% {
    transform: scaleY(0.97);
  }
}

/* code #################################################################*/
/*
#code{
  animation: code 4s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes code {
  0% {
    transform: rotateX(0deg);
  }
  75% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
*/
/*width="855" height="619" viewBox="0 0 855 619" fill="none"*/
/*
.svg-test {
  transform: scale(0.3);
}
*/

/*#######################################################################################################################################*/
/* SVG ENVIRONMENT */
/* trees #################################################################*/
#tree-1 {
  animation: tree 1.5s ease-in-out alternate infinite;
}
#tree-2 {
  animation: tree 1.5s ease-in-out alternate infinite;
  animation-delay: 0.2s;
}
#tree-3 {
  animation: tree 1.5s ease-in-out alternate infinite;
  animation-delay: 0.4s;
}
#tree-4 {
  animation: tree 1.5s ease-in-out alternate infinite;
  animation-delay: 0.6s;
}

@keyframes tree {
  75% {
    transform: scaleY(1.0);
  }
  100% {
    transform: scaleY(0.95);
  }
}


/* leaf #################################################################*/

#leaf-1 {
  animation: fade-1 8s ease infinite;
}
@keyframes fade-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#leaf-2 {
  animation: fade-2 8s ease infinite;
}
@keyframes fade-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#leaf-3 {
  animation: fade-3 8s ease infinite;
}
@keyframes fade-3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




/* bar #################################################################*/

#bar-1 {
  animation: bar-1 9s ease infinite;
}
@keyframes bar-1 {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  77.77% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#bar-2 {
  animation: bar-2 9s ease infinite;
}
@keyframes bar-2 {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 0;
  }
  22.22% {
    opacity: 1;
  }
  77.77% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#bar-3 {
  animation: bar-3 9s ease infinite;
}
@keyframes bar-3 {
  0% {
    opacity: 0;
  }
  22.22% {
    opacity: 0;
  }
  33.33% {
    opacity: 1;
  }
  77.77% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#bar-4 {
  animation: bar-4 9s ease infinite;
}
@keyframes bar-4 {
  0% {
    opacity: 0;
  }
  33.33% {
    opacity: 0;
  }
  44.44% {
    opacity: 1;
  }
  77.77% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#bar-5 {
  animation: bar-5 9s ease infinite;
}
@keyframes bar-5 {
  0% {
    opacity: 0;
  }
  44.44% {
    opacity: 0;
  }
  55.55% {
    opacity: 1;
  }
  77.77% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/* line #################################################################*/
#line {
  animation: line 9s ease infinite;
}
@keyframes line {
  0% {
    opacity: 0;
  }
  55.55% {
    opacity: 0;
  }
  66.66% {
    opacity: 1;
  }
  77.77% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/* Social icons #################################################################*/
#linkedin {
  animation: linkedin 10s ease infinite;
}
@keyframes linkedin {
  0% {
    color: #131313;
  }
  20% {
    color:#AC9A7C;
  }
  80% {
    color:#AC9A7C;
  }
100% {
    color:#131313;
  }
}

#github {
  animation: github 10s ease infinite;
}
@keyframes github {
  0% {
    color: #131313;
  }
  20% {
    color:#131313;
  }
  40% {
    color:#AC9A7C;
  }
  80% {
    color:#AC9A7C;
  }
  100% {
    color: #131313;
  }
}

#kaggle {
  animation: kaggle 10s ease infinite;
}
@keyframes kaggle {
  0% {
    color: #131313;
  }
  40% {
    color: #131313;
  }
  60% {
    color: #AC9A7C;
  }
  80% {
    color: #AC9A7C;
  }
  100% {
    color: #131313;
  }
}

#tableau {
  animation: tableau 10s ease infinite;
}
@keyframes tableau {
  0% {
    color: #131313;
  }
  60% {
    color:#131313;
  }
  80% {
    color:#AC9A7C;
  }
  100% {
    color:#131313;
  }
}


/*SUB PAGES ####################################################################################################################################################*/
.navbar-subpages {
  background: white;
  height: 90px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 5px 0 0 20px;
}

.navbar__container-subpages {
  background: white;
}

.navbar__logo-subpages {
  background: #AC9A7C;
  color: #131313;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  padding:  20px 20px;
}


/*CO2 EMISSIONS####################################*/
.tableau__emissions {
  display: flex;
  margin: 0 auto;
}

